/********** Template CSS **********/
:root {
    --primary: #40E0D0;
    --secondary: #393c60;
    --light: #F4F5F8;
    --dark: #1C1E32;
}

h1,
h2,
.font-weight-bold {
    font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
    font-weight: 500 !important;
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

a {
    color: inherit; /* Цвет текста наследуется от родителя */
    text-decoration: none; /* Убирает подчеркивание */
}

a:hover {
    color: inherit; /* Цвет текста остаётся прежним при наведении */
    text-decoration: none; /* Подчеркивание не появляется при наведении */
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.nav-bar::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    background: var(--dark);
}

.nav-bar::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background: #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
    padding: 30px 15px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--light);
    outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link  {
        padding: 10px 15px;
    }
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(28, 30, 50, .7);
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption h4 {
        font-size: 18px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}

.page-header {
    height: 400px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(28, 30, 50, .9), rgba(28, 30, 50, .9)), url(../img/bg-banner.jpg);
    background-attachment: fixed;
}

@media (max-width: 991.98px) {
    .page-header {
        height: 300px;
    }
}

.service-item {
    height: 320px;
    background: var(--light);
    transition: .5s;
}

.service-item:hover,
.service-item.active {
    background: var(--secondary);
}

.service-item h1,
.service-item h4 {
    transition: .5s;
}

.service-item:hover h1,
.service-item.active h1 {
    color: var(--dark) !important;
}

.service-item:hover h4,
.service-item.active h4 {
    color: var(--light);
}

.rent-item {
    padding: 30px;
    text-align: center;
    background: var(--light);
    transition: .5s;
}

.rent-item:hover,
.rent-item.active {
    background: var(--secondary);
}

.rent-item h4 {
    transition: .5s;
}

.rent-item:hover h4,
.rent-item.active h4 {
    color: var(--light);
}

/* Общее оформление box */
.custom-box {
    height: 400px; /* Фиксированная высота */
    width: 100%; /* Ширина зависит от родителя */
    display: flex; /* Используем Flexbox */
    flex-direction: column; /* Элементы располагаются вертикально */
    justify-content: space-between; /* Равномерное распределение содержимого */
    align-items: center; /* Центровка содержимого по горизонтали */
    border: 1px solid #ddd; /* Рамка */
    padding: 15px; /* Внутренние отступы */
    box-sizing: border-box; /* Учитывайте padding в размере box */
    background-color: #fff; /* Белый фон */
}

/* Изображения: Подгонка размера */
.custom-box img {
    max-height: 180px; /* Ограничение по высоте */
    object-fit: cover; /* Пропорциональная подгонка */
    margin-bottom: 15px; /* Отступ снизу */
}

/* Заголовки: Центровка */
.custom-box h4 {
    font-size: 1.8rem; /* Размер текста */
    text-align: center; /* Выравнивание по центру */
    margin-bottom: auto; /* Автоматический отступ снизу для равномерности */
    flex-grow: 1; /* Растягивается, чтобы занять свободное пространство */
    display: flex; /* Flexbox для управления выравниванием */
    justify-content: center; /* Центровка по горизонтали */
    align-items: flex-end; /* Центровка по вертикали (начало текста) */
    white-space: nowrap; /* Запретить перенос строк */
    overflow: hidden; /* Скрыть текст, который не помещается */
}


/* Кнопка внизу */
.custom-box .btn {
    margin-top: auto;
    margin-bottom: auto; /* Убираем фиксированный отступ */
    align-self: center;
    position: relative; /* Позиционируем относительно родителя */
    top: -10px; /* Поднимаем кнопку на 20px вверх */
}

.image-wrapper {
    width: 100%; /* По ширине родителя */
    height: 100%; /* Фиксированная высота */
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-wrapper:hover {
    transform: scale(1.1); /* Увеличение при наведении */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); /* Более выраженная тень */
}

.cool-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Дополнительные эффекты для всей галереи */
.custom-image-gallery {
    justify-content: center;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Пространство между изображениями */
}

.car-info-container {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    padding: 0 20px; /* Отступы */
}

.car-information {
    font-size: 1.5rem;
    max-width: 800px; /* Ограничиваем ширину */
    text-align: center; /* Центрирование текста */
}


.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Затемняем фон */
    overflow: auto;
    text-align: center;
}

/* Стили для изображения в модальном окне */
.modal-content {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto; /* Оставить реальный размер изображения */
    height: auto; /* Оставить реальный размер изображения */
}

/* Кнопка закрытия */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.team-item {
    padding: 30px 30px 0 30px;
    text-align: center;
    background: var(--light);
    transition: .5s;
}

.team-item:hover,
.owl-item.center .team-item {
    background: var(--secondary);
}

.team-item h4 {
    transition: .5s;
}

.owl-item.center .team-item h4,
.owl-item.center .rent-item h4 {
    color: var(--light);
}

.team-item .team-social {
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s;
    background: var(--light);
}

.owl-item.center .team-item .team-social,
.owl-item.center .rent-item {
    background: var(--secondary);
}

.team-item:hover .team-social {
    opacity: 1;
    background: var(--secondary);
}

.team-carousel .owl-nav,
.related-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 60px;
    top: calc(50% - 30px);
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.team-carousel .owl-nav .owl-prev,
.team-carousel .owl-nav .owl-next,
.related-carousel .owl-nav .owl-prev,
.related-carousel .owl-nav .owl-next {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    font-size: 22px;
    transition: .5s;
}

.team-carousel .owl-nav .owl-prev:hover,
.team-carousel .owl-nav .owl-next:hover,
.related-carousel .owl-nav .owl-prev:hover,
.related-carousel .owl-nav .owl-next:hover {
    background: var(--secondary);
}

.vendor-carousel .owl-dots,
.testimonial-carousel .owl-dots {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vendor-carousel .owl-dot,
.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    background: var(--secondary);
    transition: .5s;
}

.vendor-carousel .owl-dot.active,
.testimonial-carousel .owl-dot.active {
    width: 40px;
    height: 40px;
    background: var(--primary);
}

.testimonial-carousel .owl-item img {
    width: 80px;
    height: 80px;
}

.testimonial-carousel .owl-item .testimonial-item {
    height: 350px;
    transition: .5s;
    background: var(--light);
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--secondary);
}

.testimonial-carousel .owl-item .testimonial-item h1,
.testimonial-carousel .owl-item .testimonial-item h4 {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item h1 {
    color: var(--dark) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item h4 {
    color: var(--light);
}

.bg-banner {
    background: linear-gradient(rgba(28, 30, 50, .9), rgba(28, 30, 50, .9)), url(../img/bg-banner.jpg);
    background-attachment: fixed;
}

@media (max-width: 768px) {
    .custom-box {
        height: auto; /* Высота автоматически подстраивается */
        padding: 10px; /* Уменьшить внутренние отступы */
    }

    .custom-box img {
        max-height: 100px; /* Уменьшить высоту изображения на мобильных */
    }

    .custom-box .btn {
        top: 0; /* Убираем подъем кнопки на мобильных */
        margin-top: 5px; /* Добавляем отступ сверху для мобильных */
    }
}

